*{
    
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
.nav-title span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
.btn-primary{
    padding: 10px 20px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: whitesmoke;
    font-size: 20px;
}

/* header section */

.header{
    background-color: 
    #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
}
.banner-title > h3{
    color:  #474747;
    
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    }
.banner-title > h1{
    color: #181818;
    
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
} 
.banner-title > p {
    color: #757575;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.banner img{
    width: 500px;
}